#go to platforms.openai to get API key of openAI, note : its paid 
# after buying some credits we can use openAIs llms, by creating a secrate api key
# store that api key in .env file in a variable 

OPENAI_API_KEY = "api_key" # we can use open ais llms using this api key

ANTHROPIC_API_KEY = "api key" # replace it with anthropics api, i dont have it as its paid

GOOGLE_API_KEY = "api key" # "

# now we are using opensource llms (chat)is free, particularly we are using hugging face api key

HUGGINGFACEHUB_ACCESS_TOKEN ="key"